:root {
  /* This color theme consists of Greedy Green, Mint Tonic, Melbourne Cup, Bondi and Midnight Dreams. It was created with custom harmony. */
  --greedy_green: #dafdba;
  --mint_tonic: #9aeba3;
  --melbourne_cup: #45c4b0;
  --bondi: #13678a;
  --midnight_dreams: #012030;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--midnight_dreams);
  background-color: var(--greedy_green);
  line-height:1.5;
  font-size: 2rem;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

#intro{
  /* margin-bottom: 7rem; */
  padding: 2rem 1rem 2rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
}


#experience{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#experience img{
  max-width: 500px;
  max-height: 300px;
  margin: 1rem 0;
  border-radius: 2rem;
}


#name{
  display: block;
  font-size: 5rem;
  color: var(--melbourne_cup);
}

#intro h2{
  font-size: 3.5rem;
  font-weight: normal;
}
#intro h4{
  font-weight: normal;
}

li {
  list-style-type: none;
  font-size: 2.5rem;
}

ul{
  margin: 0;
  padding: 0;
}

a{
  color: var(--midnight_dreams);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

#hire {
  width: 500px;
  text-align: center;
  margin: 0rem auto; /* 0 is the top and bottom and auto is for left and right. auto makes the margin on left and right distributed equally*/
  background-color: var(--mint_tonic);
}

#hire p:last-child{
  margin-top: 3rem;
}

.section-mint-tonic{
  background-color: var(--mint_tonic);
}

nav{
  padding: 1rem;
  background-color: var(--mint_tonic);
}
nav ul{
  font-size: 80%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
  flex-flow: row wrap;;
}

nav li:first-child{
  /* flex-grow: 1; */
  flex-basis: 100%;
  font-size: 4rem;
}

.button{
  background-color: orangered;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover{
  background-color: lightblue;
}

@media (min-width: 895px) {
  nav li:first-child{
    flex-grow: 1;
    flex-basis: auto;
  }
}

.gradient-section{
  height: 3px;
  background: rgb(197,241,158);
background: linear-gradient(194deg, rgba(197,241,158,1) 7%, rgba(2,0,36,1) 22%, rgba(0,212,255,1) 47%);
  margin: 0%;
  padding:0%;
}

footer{
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* #experience #experience-details{
  max-width: 100%;
} */

#experience ul{
  border: solid var(--bondi) 4px;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--melbourne_cup);
}