/* Universal selector */
body{
    background-color: aliceblue;
}
header{
    background-color: beige;
}

.mid-text{
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#head-text{
    text-decoration: underline;
}

/* Every descendant that is first child of his parent */
header :first-child{
    color: red;
}

/* all anchor tags that are visited */
a:visited{
    color: dodgerblue;
}

/* Every element that is descendant of div */
div ::before{
    content: "...";
}