html{
    box-sizing: border-box;
}

*, *::before, *:after{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    background-color: antiquewhite;
    text-align: center;
}

#game-arena{
    width:700px;
    height:700px;
    border: 10px solid green;
    background-color: #333;
    position: relative;
    margin-top: 20px;
    box-shadow: 0 0 20px rgbps*0, 0 , 0;
}

#score-board {
    font-size: 2em; /* Adjust size as needed */
    color: #333; /* Dark gray color for the text */
    background-color: #f8f9fa; /* Light background for the scoreboard */
    padding: 10px; /* Some padding to give it a bit of space */
    border-radius: 5px; /* Rounded corners for a softer look */
    text-align: center; /* Center the score text */
    width: 200px; /* Adjust width as needed */
    margin: 0 auto; /* Center the scoreboard horizontally */
}

#start-btn {
    margin-top: 10px;
    display: inline-block;
    font-size: 1em;
    color: #fff; /* White text */
    background-color: #007bff; /* Blue background */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition */
}

#start-btn:hover  {
    background-color: #0056b3; /* Darken background on hover */
    cursor:pointer;
}



.food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    animation: blink 3s infinite;
}

@keyframes blink {
    50%{
        opacity: 0.5;
        background-color: green;
    }
}